<!DOCTYPE html>
<html ng-app="flickrModule">
<head>

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js"></script>

<script src="js/flickr-angular.js"></script>
</head>
<body ng-controller="FlickrCtrl">
	Name:
	<input type="text" ng-model="searchTerm" />
	<button ng-click="search()">search</button>
	<br>


	<div ng-repeat="r in photos">
		<img ng-src="{{r.media.m}}" ng-click="selectPhoto(r)" />{{r.media.m}}
		({{$index + 1}}) <br ng-if="lineBreak($index)" />
	</div>





	<div ng-show="selectedPhoto">
		HERE IS THE SELECTED PHOTO <img ng-src="{{selectedPhoto.media.m}}" /><br>{{selectedPhoto.media.m}}
	</div>


</body>
</html>